{% extends "base.html" %}
{% block content %}
<h2>Nýskrá</h2>
    <form action="/adnyskra" method="POST">
        <div class="container">
            <label for="user"><b>Notandi</b></label>
            <input type="text" placeholder="Notandi" name="user" required>
            <label for="psw"><b>Lykilorð</b></label>
            <input type="password" placeholder="Lykilorð" name="psw" required>
            <button type="submit" class="cancelbtn" style="margin-top: 15px;">Login</button>
        </div>
        <div class="container">
            <h5>Nú þegar með aðgang? Skráðu þig inn að neðan.</h5>
            <a href="/innskra"><button type="button" class="cancelbtn">Innskrá</button></a>
        </div>
    </form>
{% endblock %}